<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title><%= title %></title>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">
      <h2>Edit Profile</h2>
        <form class="" action="/<%=username%>/edit" method="post">

          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="input name" name="name" value="<%=dataSeeker.name%>">
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" placeholder="input phone" name="phone" value="<%=dataSeeker.phone%>">
          </div>

          <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" placeholder="input address" name="address" value="<%=dataSeeker.address%>">
          </div>

          <% if(locals.errorMessage){ %>
            <hr>
            <div class="alert alert-danger">
              <strong>Oops!</strong>
              <%= errorMessage %>.
            </div>
            <% } %>
          <% if(locals.successMessage){ %>
            <hr>
            <div class="alert alert-success">
              <strong>Yeay!</strong>
              <%= successMessage %>.
            </div>
            <% } %>

          <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
      <% include ../partials/footer %>
    </body>

  </html>
