<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title><%= title %></title>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">
    <table>
      <thead>Edit Profile DJ Seeker: </thead>
      <tbody>
        <form class="" action="/<%=username%>/edit" method="post">
          <input type="text" placeholder="input name" name="name" value="<%=dataSeeker.name%>">
          <input type="text" placeholder="input phone" name="phone" value="<%=dataSeeker.phone%>">
          <input type="text" placeholder="input address" name="address" value="<%=dataSeeker.address%>">
          <button>Submit</button>
        </form>
      </tbody>
    </table>
    <% include ../partials/footer %>
    </body>

  </html>
