<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <%= title %>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">
      <h2>Profile</h2>
      <div class="col-md-3">
        <img src="/profiles/jennndol.jpg" class="thumbnail img-responsive ">
      </div>
      <div class="col-md-9">
        Name:
        <%=dataSeeker.name%> <br> Phone:
          <%=dataSeeker.phone%> <br> Address:
            <%=dataSeeker.address%>
              <!-- TODO: Check this -->
              <a href="/<%=username%>/edit">edit</a>
      </div>
    </div>
</body>

</html>
