<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title><%= title %></title>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">
    <!-- <%=JSON.stringify(dataDj)%> -->
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <%dataDj.forEach(dj => {%>
          <tr>
            <td><%=dj.id%></td>
            <td><%=dj.name%></td>
            <td><%=dj.phone%></td>
            <td><%=dj.address%></td>
            <td><%=dj.detail%></td>
            <td>
              <a href="/<%=dj.User.username%>">lihat profile</a>
            </td>
          </tr>
        <%})%>
      </tbody>
    </table>
    <% include ../partials/footer %>
    </body>

  </html>
