<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title><%= title %></title>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">

        <form action="/djs/edit/<%=dataDj.id%>" method="post">

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="input name" name="name" value="<%=dataDj.name%>">
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" placeholder="input phone" name="phone" value="<%=dataDj.phone%>">
          </div>

          <div class="form-group">
            <label for="phone">Address:</label>
            <input type="text" class="form-control" placeholder="input address" name="address" value="<%=dataDj.address%>">
          </div>

          <div class="form-group">
            <label for="phone">Detail:</label>
            <input type="text" class="form-control" placeholder="input detail" name="detail" value="<%=dataDj.detail%>">
          </div>

          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
  </div>
  <% include ../partials/footer %>
  </body>

</html>
