<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title>
      <%= title %>
    </title>
</head>

<body>
  <% include ../partials/nav  %>
    <div class="container">
      <h2>Event List</h2>
      <% if (locals.events.length==0){%>
        Tidak ada event yang anda buat, <a href="/events/add" class="btn btn-success">Buat Event</a>
        <% } else { %>
          <table class="table table-striped">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Detail</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
            <% events.forEach((event, i) => { %>
              <tr>
                <td>
                  <%= event.id %>
                </td>
                <td>
                  <a href="/events/<%=event.id%>">
                  <%= event.name %></a>
                </td>
                <td>
                  <%= event.detail %>
                </td>
                <td>
                  <%= event.date %>
                </td>
                <td>
                  <a href="/events/edit/<%= event.id %>">Edit</a>
                  <a href="/events/delete/<%= event.id %>">Delete</a>
                </td>
              </tr>
              <% }); %>
          </table>
          <% } %>
          <a href="/events/add" class="btn btn-block btn-primary" style="margin-bottom:3em;">Add Event</a>
    </div>
    <% include ../partials/footer %>
</body>

</html>
